/*
 * Import Google Fonts
 * 1. Cabin sketch: 400 (norm), 700 (bold)
 * 2. Lato: 100 (thin), 300 (norm), 400 (bold)
*/
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Lato:wght@100;300;400&display=swap');

:root {
  --deep-blue: #f1e1cf;
  --mid-blue: #f8dda2;
  --mid-grey: #9192a3;
  --light-grey: #d3edf0;
  --dark-pink: #f5b0c9;
  --hot-pink: #300230;
  --pale-pink: #f89dc2;

  /* ef898a */

  --teal-green: #8be5d7;
  --purple-blue: #3e6cad;
  --purple: #9599ea;
  --light-blue: #f1fafd;
  --dark-purple: #3e2aaa;
}
/* ORIGINAL COLOURS
--deep-blue: #001a45;
--mid-blue: #032d5e;
--mid-grey: #9192a3;
--light-grey: #ededed;
--dark-pink: #f41999;
--hot-pink: #ff66ff;
--pale-pink: #f4d3db; */

* {
  box-sizing: 0;
}

/* 
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  font-weight: 300;
  /* background-image: url(images/grunge-navy.jpg); */
  background-image: url(images/watercolour.jpg);
  /* color: var(--light-grey); */
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 5rem;
  font-weight: 700;
  color: var(--hot-pink);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--hot-pink);
}

a:hover {
  color: var(--dark-purple);
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--pale-pink);
  border: 3px solid var(--dark-pink);
  border-radius: 15px;
  color: var(--deep-blue);
}

button:hover {
  background-color: var(--hot-pink);
  border: 3px solid var(--mid-blue);
  color: var(--mid-blue);
}

.embolden {
  font-weight: bolder;
}

.italicised {
  font-style: italic;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border: 2px dotted cyan;
}

/* .bg-grey {
  background-color: rgb(3, 11, 40);
} */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-sub {
  font-size: 75%;
}

/* trying some form styling */
form {
  color: var(--deep-blue);
  background-color: var(--pale-pink);
  margin: 15px;
  border-radius: 24px;
  width: 75vw;
  padding: 20px;
}
/* 
label {
  margin: 5px;
} */
/* float input fields below labels */
input {
  display: flex;
  flex-direction: column;

  margin: 20px 0px 20px 0px;
  line-height: 2rem;
  border-radius: 4px;
  border-color: var(--mid-blue);
  width: 90%;
  padding: 5px;
}

input:focus,
textarea:focus {
  outline: var(--hot-pink) 2px solid;
  border-color: var(--hot-pink) 2px solid;
}

input[type='file'] {
  background-color: white;
  border-color: var(--mid-blue);
  line-height: 2rem;
}

textarea {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  resize: none;
  width: 90%;
  height: 20vh;
  overflow-y: scroll;
  margin: 20px 0px 20px 0px;
  border-radius: 4px;
  border-color: var(--mid-blue);
  padding: 8px;
}

/* because i hated the default font on the placeholder textarea */
textarea::placeholder {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

/* form button {
  display: flex;
  justify-content: center;
} */

.dash-heading {
  background-image: url('images/blue-green-splatter.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.table-heading {
  background-image: url('images/pink-splatter.png');
  background-repeat: no-repeat;
  background-size: contain;
}
