/* IMPORT Google Fonts
 * cabin sketch: 400, 700
 * lato: 100, 300, 400 */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Lato:wght@100;300;400&display=swap');

body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 1.4;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 700;
  font-size: 5rem;
}
