.merch-container {
  border: 2px solid lightblue;
  background-color: var(--purple-blue);
  border-radius: 20px;
  margin: 10px auto;
  width: 90%;
  overflow: hidden;
  text-align: center;
}

.merch {
  background-color: var(--teal-green);
  border: 3px solid var(--teal-green);
  margin: 15px;
  box-shadow: 2px 2px 5px 4px #9599ea;
  border-radius: 24px;
  overflow: hidden;
  color: var(--deep-purple);
}

/* padding for paragraphs and img alt text in merch cards */
.merch p {
  padding: 5px;
}

.merch-title {
  color: var(--deep-purple);
  text-transform: uppercase;
  text-align: center;
  line-height: 0;
  padding-top: 1rem;
}

.merch-artist {
  color: var(--deep-purple);
  text-transform: none;
  font-weight: 400;
  font-style: italic;
  font-size: 90%;
  text-align: center;
  line-height: 0;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}

.merch img {
  max-width: 100%; /* set img width @ 100% of bounding container */
}

.merch-container form {
  background-color: var(--purple-blue);
}

.merch-container label {
  color: var(--light-blue);
  font-weight: 300;
}

.merch-container textarea,
.merch-container input {
  border-color: var(--purple);
}

.merch-container button {
  background-color: var(--teal-green);
  border: 3px solid var(--deep-purple);
  color: var(--deep-purple);
}

.merch-container button:hover {
  background-color: var(--pink);
  border: 3px solid var(--deep-purple);
  color: var(--deep-purple);
}
