.merch-container {
  flex: 0 0 100%;
  border: 2px solid lightblue;
  /*background-color: var(--pale-pink); */
  margin: 10px auto;
  width: 90%;
  overflow: hidden;
}

.merch {
  background-color: var(--deep-blue);
  border: 3px solid var(--pale-pink);
  color: var(--hot-pink);
  margin: 15px;
  box-shadow: 2px 2px 5px 4px rgba(244, 25, 153, 0.5);
  border-radius: 24px;
  overflow: hidden;
}

/* padding for paragraphs and img alt text in merch cards */
.merch p {
  padding: 5px;
}

.merch-title {
  color: var(--hot-pink);
  text-transform: uppercase;
  text-align: center;
  line-height: 0;
  padding-top: 1rem;
}

.merch-artist {
  color: var(--hot-pink);
  text-transform: none;
  font-weight: 400;
  font-style: italic;
  font-size: 90%;
  text-align: center;
  line-height: 0;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}

.merch img {
  width: 100%; /* set img width @ 100% of bounding container */
}

.link-card {
  color: var(--hot-pink);
  text-decoration: none;
  cursor: pointer;
}

.merch-container form {
  background-color: var(--pale-pink);
}

.merch-container label {
  color: var(--hot-pink);
  font-weight: 300;
}

.merch-container textarea,
input {
  border-color: var(--dark-pink);
  color: var(--hot-pink);
}

.merch-container button {
  background-color: var(--deep-blue);
  border: 3px solid var(--hot-pink);
  color: var(--hot-pink);
}

.merch-container button:hover {
  background-color: var(--hot-pink);
  border: 3px solid var(--deep-blue);
  color: var(--light-blue);
}
