.header {
  background-image: url(../../images/pink-yellow-splatter.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header h1 {
  font-size: 3rem;
  margin: 20px;
  color: var(--deep-purple);
}
