.post-container {
  border: 2px solid lightblue;
  background-color: var(--pink);
  border-radius: 20px;
  margin: 10px auto;
  max-width: 650px;
  overflow: hidden;
}

.post h4 {
  background-color: var(--pale-blue);
  text-transform: uppercase;
}

.post img {
  max-width: 100%; /* set img width @ 100% of bounding container */
}
