.post-container {
  flex: 0 0 100%;
  border: 2px solid lightblue;
  background-color: var(--pale-pink);
  margin: 10px auto;
}

.post {
  /* background-color: var(--light-grey); */
  border: 1px solid yellow;
}

.post h4 {
  background-color: var(--light-grey);
  text-transform: uppercase;
}

.post img {
  max-width: 500px;
}
