.post-container {
  flex: 1 0 100%;
  border: 1px solid blue;
  background-color: var(--pale-pink);
}

.post {
  /* background-color: var(--light-grey); */
  border: 1px solid yellow;
}

.post h4 {
  background-color: var(--light-grey);
  text-transform: uppercase;
}

.post img {
  max-width: 80%;
}
